<div class="container">
    <?php foreach($result as $r): ?>
    <?php if($r["result"]): ?>
    <h2><?= $r['label'] ?><a style="font-size: 14px;margin-top: 15px;" class="pull-right" href="<?= $r['url'] ?>"><span>Visualizza tutti</span></a>
    </h2>
    <hr style="margin: 0px 0px 10px;">
    <div class="control-status-list">
        <ul>
            <?php foreach($r["result"] as $v): ?>
            <li>
                <a href="<?= \Backend::url($r['url'].'update/'.$v['id']) ?>" class="">
                    <div style="display:inline-block;background-size:contain;height: 50px; width: 50px; background-image: url('<?= $v[$r['image']] ?>');    border-radius: 50px;border: 1px solid #dadada;"></div>
                    <span style="    display: inline-block;vertical-align: top;margin-top: 12px;margin-left: 5px;font-size: 16px;"><?= $v[$r["field"]] ?></span>
                </a>
            </li>
            <?php endforeach ?>
        </ul>
    </div>
    <p>&nbsp;</p>
    <?php endif ?>
    <?php endforeach ?>
</div>