<div class="control-tabs primary-tabs" data-control="tab">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#primaryTabOne">Impersonator</a></li>
        <li><a href="#primaryTabTwo">Utility</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active">
            <?php if(isset($old)): ?>
            <div class="text-center">
                <img style="border-radius: 50px"
                     width="50px"
                     src="<?= $user->getAvatarThumb(90, ['mode' => 'crop', 'extension' => 'png']) ?>"
                     class="account-avatar"/>
                <p class="">Ciao <b><?= $old->full_name ?></b>,<br>hai effettuato l'accesso come <br><b><?= $user->
                    full_name ?>
                </b>
                </p>
                <p>&nbsp;</p>
                <p>Clicca <a data-request="onStopImpersonate">qui</a> per ritornare alla<br> tua vista originale</p>
            </div>
            <?php else: ?>
            <div class="text-center">
                <img style="border-radius: 50px"
                     width="50px"
                     src="<?= $user->getAvatarThumb(90, ['mode' => 'crop', 'extension' => 'png']) ?>"
                     class="account-avatar"/>
                <p class="">Ciao <b><?= $user->full_name ?></b>,<br>seleziona l'utente per il quale<br> effettuare
                    l'accesso.
                </p>
            </div>
            <p>&nbsp;</p>
            <input class="form-control" type="text" id="myInput" onkeyup="myFunction()" placeholder="Cerca utente">
            <table class="table" id="myTable">
                <tr class="header">
                    <th style="width:55%;">Name</th>
                    <th style="width:25%;">Roles</th>
                </tr>
                <?php foreach($users as $user): ?>
                <tr>
                    <td><a data-request="onUserSelect" data-request-data="user:<?= $user->id ?>"><?= $user->full_name
                        ?></a></td>
                    <td><?= $user->role->name ?></td>
                </tr>
                <?php endforeach ?>
            </table>

            <?php endif ?>
        </div>
        <div class="tab-pane">
            <?php if(isset($owner)): ?>
            <div class="control-toolbar">

                <button data-request-loading="#loading" data-request="onSetSuperuser"
                        data-hotkey="ctrl+enter, cmd+enter"
                        data-request-confirm="Impostare is_superuser a 1?"
                        data-load-indicator="Syncing " type="button" class="btn btn-primary oc-icon-user"
                        data-disposable="">
                    Imposta is_superuser=1
                </button>
                <button data-request-loading="#loading" data-request="onUnsetSuperuser"
                        data-hotkey="ctrl+enter, cmd+enter"
                        data-request-confirm="Impostare is_superuser a 0?"
                        data-load-indicator="Syncing " type="button" class="btn btn-primary oc-icon-user"
                        data-disposable="">
                    Imposta is_superuser=0
                </button>

                <button data-request-loading="#loading" data-request="onSyncFacet"
                        data-hotkey="ctrl+enter, cmd+enter"
                        data-request-confirm="Lanciare la sincronizzazione delle faccette?"
                        data-load-indicator="Syncing " type="button" class="btn btn-secondary oc-icon-refresh"
                        data-disposable="">
                    Lancia la sincronizzazione delle faccette (senza plugin)
                </button>

                <button data-request-loading="#loading" data-request="onSyncFacetPlugins"
                        data-hotkey="ctrl+enter, cmd+enter"
                        data-request-confirm="Lanciare la sincronizzazione delle faccette?"
                        data-load-indicator="Syncing " type="button" class="btn btn-secondary oc-icon-refresh"
                        data-disposable="">
                    Lancia la sincronizzazione delle faccette (con i plugin)
                </button>

                <button data-request-loading="#loading" data-request="onImportFacet"
                        data-hotkey="ctrl+enter, cmd+enter"
                        data-request-confirm="Lanciare l'importazione delle faccette?"
                        data-load-indicator="Syncing " type="button" class="btn btn-secondary oc-icon-database"
                        data-disposable="">
                    Lancia l'importazione sql delle faccette
                </button>

                <button data-request-loading="#loading" data-request="onImportBox"
                        data-hotkey="ctrl+enter, cmd+enter"
                        data-request-confirm="Lanciare l'importazione dei box?"
                        data-load-indicator="Syncing " type="button" class="btn btn-secondary oc-icon-database"
                        data-disposable="">
                    Lanciare l'importazione dei box?
                </button>


                <button data-request-loading="#loading" data-request="onDetect"
                        data-hotkey="ctrl+enter, cmd+enter"
                        data-request-confirm="Creare pagine web dinamiche?"
                        data-load-indicator="Syncing " type="button" class="btn btn-secondary oc-icon-database"
                        data-disposable="">
                    Creare pagine web dinamiche
                </button>
            </div>
            <?php endif ?>
        </div>
    </div>
</div>
<style>
    button
    {
        margin: 10px;
        display: block !important;
    }
</style>

<script>
    function myFunction() {
        // Declare variables
        var input, filter, table, tr, td, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>