<div class="row extendbackend-dashboard">
    <?php if($this->plusUtilities): ?>
    <div style="" class="col-sm-3 col-lg-3 col">
        <div class="box">
            <div class="title">
                <h4 class="text-uppercase">
                    <a href="#">Plus utilities<span
                            class="pull-right"></span></a></h4>
            </div>
            <div class="list">
                <ul class="list-unstyled">
                    <?php foreach($this->plusUtilities as $item): ?>
                    <li class="list-item">
                        <a href='<?php echo $item["url"] ?>'><?php echo trans($item["label"]); ?> <span
                                class="icon icon-angle-right pull-right"></span></a>
                    </li>
                    <?php endforeach ?>
                </ul>
            </div>
        </div>
    </div>
    <?php endif ?>
    <?php foreach($this->items as $item): ?>
    <?php if(isset($item->dashboard)): ?>
    <div class="col-sm-3 col-lg-3 col">
        <div class="box">
            <div class="title">
                <h4 class="text-uppercase"><a href='<?php echo $item->url ?>'><span
                        style="background: black;text-align:center;color: white;padding: 7px;border-radius: 100px;width: 28px;height: 28px;display: inline-block;"
                        class="<?php echo trans($item->
                    icon);
                    ?>"></span>&nbsp;<?php echo trans($item->
                    label);
                    ?> <span class="pull-right"></span></a>
                </h4>
            </div>
            <div class="list">
                <ul class="list-unstyled">
                    <?php if(count($item->sideMenu)): ?>
                    <?php foreach($item->sideMenu as $side): ?>
                    <li class="list-item">
                                                <span
                                                        class="icon icon-angle-right"></span>
                        <a href='<?php echo $side->url ?>'><?php echo trans($side->label); ?></a>
                    </li>
                    <?php endforeach ?>
                    <?php else: ?>
                    <li class="list-item">
                        <span
                                class="icon icon-angle-right"></span>
                        <a href='<?php echo trans($item->url); ?>'><?php echo trans($item->label); ?> </a>
                    </li>
                    <?php endif ?>

                </ul>
            </div>
        </div>
    </div>
    <?php endif ?>
    <?php endforeach ?>
</div>

<div>
    <p class="text-center">Versione 1.0 - Pannello amministrativo 2018</p>
</div>